* {
  box-sizing: border-box;
}
/* html {
  font-size: 6.25%;
} */

#root {
  max-width: calc(min(1280px, 100vw - 2px));
  margin: 0 auto;
  padding: 2px;
  min-height: 100vh;
}

.logo {
  height: 34px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 10px #646cffaa);
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.settings {
  flex-grow: 1;
}

footer {
  display: flex;
  justify-content: space-between;
}
